/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Kanit&display=swap'); */
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Josefin Sans', sans-serif;
/* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    padding-right:30px ;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 480px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 480px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    flex-direction: column;
}
.form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputbox input:valid~span,
.inputbox input:focus~span
{
    color:#45f3ff;
    transform:translateX(0px) translateY(-34px);
    font-size: 0.45em;
}
.inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputbox input:valid~i,
.inputbox input:focus~i
{
height: 44px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.link a:hover,
.link a:nth-child(2){
    color: #45f3ff;
}
input[type="submit"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: poin;
}
input[type="submit"]:active
{
    opacity: 0.8;
}
.head{
    padding-top: 20px;
    padding-left: 200px;
    padding-bottom: 600px;
    padding-right: 70px;
    font-size: 15px;
    height: 100vh;
    width: 60%;
    margin: bottom;
}
.head h1{
    color: whitesmoke;
}
.head h1 span{
    color: #45f3ff;
}
.head a{
    position: relative;
    top: 210px;
    right: 200px;
    font-size: 45px;
    color: aliceblue;
}
.head h2{
    position: relative;
    top: 230px;
    right: 190px;
    font-size: 25px;
}
.head a:hover{
    color: #45f3ff;
    transition: 0.4s;
    cursor: pointer;
}
.image{
    padding-right: 500px;
    padding-top: 100px;
}
/* .head input{
    position: relative;
    padding-top: 200px;
    padding-right: 100px;
} */
/* .hi ul{
    list-style: none;
    margin-top: 2%;
}
.hi ul li{
    background-color: linear-gradient(0deg,transparent,#45f3ff,#45f3ff); 
    width: 380px;
    height: 480px;
    line-height: 50px;
    text-align: center;
    float: right;
    font-size: 10px;
    position: relative;

} */
.option{
    padding-top:30px ;
    padding-left: 40px;
    background-color: #28292d;
    width: 100%;

}
#language{
    background-color: #23242a;
    color: aliceblue;
    width: 100%;
}